@import "leaflet/dist/leaflet.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Zera completamente os espaçamentos padrão do navegador */
html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* Remove as sombras e bordas default do navegador */
body {
  background-color: #f9fafb;
  font-family: 'Inter', Arial, sans-serif;
}
